body {
  background-color: rgb(122, 17, 234);
  margin: 10px;
}
.container {
  background-color: rgb(122, 17, 234);
  color: white;
  border: 1px solid white;
  padding: 10px;
}
.color-1 {
  background-color: rgb(176, 177, 249);
  color: black;
}
.height-500 {
  height: 50%;
}
.grid-layouts {
  border: 1px solid palevioletred;
  padding: 10px;
}
.bg {
  border: 1px solid #767676;
  padding: 10px;
  margin: 5px;
  color: white;
  background-color: rgb(145, 146, 233);
  height: 50px;
}
